
# sample Dynaconf file
DYNACONF_DATABASE_URI=postgresql+psycopg2://username:password@localhost:5432/knowledge_base_ai
DYNACONF_STATIC_FOLDER=frontend/app/dist/assets
DYNACONF_TEMPLATE_FOLDER=frontend/app/dist/
DYNACONF_TZ=africa/lagos
DYNACONF_DBLOGGER=db_activity
DYNACONF_APPLOGGER=app_activity
DYNACONF_AI_KEY=sk-proj-...
DYNACONF_AI_MODEL=gpt-3.5-turbo
DYNACONF_AI_TEXT_EMBEDED=text-embedding-ada-002
DYNACONF_ENV=prod





